@{
    ViewData["Title"] = "Home Page";
}
<div class="popup">
    <div class="content">
        <header>
            <p></p>
            <i class="uil uil-times"></i>
        </header>
        <form action="#">
            <div class="row title">
                <label>Имя заметки</label>
                <input type="text" spellcheck="false">
            </div>
            <div class="row description">
                <label>Описание</label>
                <textarea spellcheck="false"></textarea>
            </div>
            <button>Добавить заметку</button>
        </form>
    </div>
</div>
